<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Milena_WeatherForecast>
            <version>0.1.0</version>
        </Milena_WeatherForecast>
    </modules>
    <global>
        <models>
            <weatherforecast>
                <class>Milena_WeatherForecast_Model</class>
                <resourceModel>weatherforecast_resource</resourceModel>
            </weatherforecast>
            <weatherforecast_resource>
                <class>Milena_WeatherForecast_Model_Resource</class>
                <entities>
                    <lublinweather>
                        <table>lublinweather</table>
                    </lublinweather>
                </entities>
            </weatherforecast_resource>
        </models>
        <blocks>
            <weatherforecast>
                <class>Milena_WeatherForecast_Block</class>
            </weatherforecast>
        </blocks>
        <helpers>
            <weatherforecast>
                <class>Milena_WeatherForecast_Helper</class>
            </weatherforecast>
        </helpers>
        <resources>
            <weatherforecast_setup>
                <setup>
                    <module>Milena_WeatherForecast</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </weatherforecast_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <weatherforecast>
                <use>standard</use>
                <args>
                    <module>Milena_WeatherForecast</module>
                    <frontName>weatherforecast</frontName>
                </args>
            </weatherforecast>
        </routers>
        <layout>
            <updates>
                <web>
                    <file>weatherforecast.xml</file>
                </web>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <weatherforecast>
                <use>admin</use>
                <args>
                    <module>Milena_WeatherForecast</module>
                    <frontName>admin_weatherforecast</frontName>
                </args>
            </weatherforecast>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <weatherforecast module="weatherforecast">
                <title>Pogoda w Lublinie</title>
                <sort_order>100</sort_order>
                <action>admin_weatherforecast/adminhtml_history</action>
            </weatherforecast>
        </menu>
    </adminhtml>
    <crontab>
        <jobs>
            <weatherforecast_actualize>
                <schedule><cron_expr>*/10 * * * *</cron_expr></schedule>
                <run><model>weatherforecast/observer::actualizeForecast</model></run>
            </weatherforecast_actualize>
        </jobs>
    </crontab>
</config>
